body {
    background-color: #0f0f0f;
    color: #e0e0e0;
    max-width: 650px;
    margin: 0 auto;
    padding: 2rem;
    font-family: Georgia, serif;
}

nav {
    margin-bottom: 3rem;
}

nav a {
    margin-right: 1.5rem;
    text-decoration: none;
    color: #888;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

a {
    color: #e0e0e0;
}

.light-mode {
    background-color: #ffffff;
    color: #111111;
}

.light-mode nav a {
    color: #444;
}

#theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}
#progress-bar{
    position:fixed;
    top:0;
    left:0;
    height:3px;
    width:0%;
    background-color: #FF6719;
    transition:width 0.1s linear;
    z-index:100;
}